<%= render "search"  %>

<div class="col-md-8 ">

  <div>
    <h4>
      「 <%= @search_word %> 」の検索結果
    </h4>
  </div>

  <% if !@items.nil?%>
    <% @items.each do |item|%>
      <div class="container my-2 p-2 border border-primary">
        <div>
          <h3>
            <%= link_to item["title"], item["link"] %>
          </h3>
        </div>
        <div>
          <%= item["snippet"]%>
        </div>
        <div height="100px">
          <% if !item["pagemap"].nil? && !item["pagemap"]["cse_image"].nil? %>
            <img src=<%= item["pagemap"]["cse_image"][0]["src"]%>  alt="" height="100px">
          <% end %>
        </div>
      </div>
        
    <% end %>

  <% else %>
    <p>検索結果がありません。</p>
  <% end %>
</div>