<div class="col">
  <h2 class="primary"><%= link_to 'Geegle検索', root_path %></h2>

  <div class="col" >
      <%= form_with( url: search_path, method: :get,class:"form-inline my-2") do%>
        <%= text_field_tag :search_word, params[:search_word], placeholder:"文字検索", class:"col-md-8 form-control mr-sm-2" %>
        <%= hidden_field_tag :start_index, 1 %>
        <%= submit_tag "検索",name:nil, class:"col-3 btn btn-outline-success my-2 my-sm-0" %>
      <% end %>
  </div>

</div>

